ckiptagger==0.2.1
gdown==5.1.0
gensim==4.3.3
huggingface-hub==0.25.1
jieba==0.42.1
jupyter==1.1.1
keras==2.15.0
matplotlib==3.8.2
nltk==3.8.1
numpy==1.24.3
pandas==2.2.2
pyLDAvis==3.4.1
scikit-learn==1.4.0
scipy==1.12.0
seaborn==0.13.2
snownlp==0.12.3
stanza==1.10.1
tensorflow==2.15.0
textblob==0.17.0
torch==2.4.1
vaderSentiment==3.3.2
wordcloud==1.9.3
git+https://github.com/Text-Analytics-and-Retrieval/GuidedLDA.git#egg=GuidedLDA
git+https://github.com/trinker/sentimentpy